apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-common-security-realms
data:
  # The key name here can be anything, but commonly ends in .yaml
  jenkins.yaml: |
    jenkins:
      authorizationStrategy:
        loggedInUsersCanDoAnything:
          allowAnonymousRead: false
      securityRealm:
        local:
          allowsSignup: false
          users:
            - id: "admin"
              password: "${ADMIN_PASSWORD}" # Use variables for secrets
        ldap:
          configurations:
          - displayNameAttributeName: "cn"
            groupMembershipStrategy:
              fromGroupSearch:
                filter: "(member={0})"
            groupSearchBase: "ou=Users,o=5b873cfea0c12e71f6fff1d0,dc=jumpcloud,dc=com"
            groupSearchFilter: "(& (cn={0})(objectclass=groupOfNames))"
            inhibitInferRootDN: false
            managerDN: "uid=ldapservice,ou=Users,o=5b873cfea0c12e71f6fff1d0,dc=jumpcloud,dc=com"
            managerPasswordSecret: "${LDAP_PASSWORD}"
            server: "ldap://ldap.jumpcloud.com:389"
            userSearchBase: "ou=Users,o=5b873cfea0c12e71f6fff1d0,dc=jumpcloud,dc=com"
          disableMailAddressResolver: false
          disableRolePrefixing: true
          groupIdStrategy: "caseInsensitive"
          userIdStrategy: "caseInsensitive"


      tool:
        nodejs:
          installations:
            - name: "NodeJS Latest"
              home: "" #required until nodejs-1.3.4 release (JENKINS-57508)
              properties:
                - installSource:
                    installers:
                      - nodeJSInstaller:
                          id: "12.11.1"
                          npmPackagesRefreshHours: 48 #default is 72
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: jcasc-configmap
data:
  1-system-message.yaml: |
     jenkins:
       systemMessage: "This Jenkins is 100% configured and managed 'as code'"