apiVersion: v1
kind: ConfigMap
metadata:
  name: my-jenkins-casc-config
data:
  # The key name here can be anything, but commonly ends in .yaml
  jenkins.yaml: |
    jenkins:
      authorizationStrategy:
        loggedInUsersCanDoAnything:
          allowAnonymousRead: false
      securityRealm:
        local:
          allowsSignup: false
          users:
            - id: "admin"
              password: "${ADMIN_PASSWORD}" # Use variables for secrets
      tool:
        nodejs:
          installations:
            - name: "NodeJS Latest"
              home: "" #required until nodejs-1.3.4 release (JENKINS-57508)
              properties:
                - installSource:
                    installers:
                      - nodeJSInstaller:
                          id: "12.11.1"
                          npmPackagesRefreshHours: 48 #default is 72
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: jcasc-configmap
data:
  1-system-message.yaml: |
     jenkins:
       systemMessage: "This Jenkins is 100% configured and managed 'as code'"